{% extends 'base.html.twig' %}

{% block title %}Page Administrateur {% endblock %}

{% block body %}
    <div class="container">
        {% block sidebar %}
            <div class="sidebar">
                <h1 id="title">Menu principal</h1>
                <div id="subtitle">
                    <h2 class="posts">Posts</h2>
                    <a href="/index.php?c=article&a=pageArticle"><h2>Publier</h2></a>
                    <h2>Brouillons</h2>
                    <h2>Planifiés</h2>
                    <h2>Corbeille</h2>
                    <h2 class="posts">Gérer</h2>
                    <h2>Catégories</h2>
                </div>

            </div>

        {% endblock %}

        {% block content %}
            <div class="article">
                {% if items is defined %}
                    {% for item in items %}
                        <div>
                            <p>{{ item.title }}</p>
                            <p><{{ item.content }}/p>

                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endblock %}
    </div>




{% endblock %}

