@use "./modules/vars";

* {
  @extend .reset;
}

body {
  width:100%;
  background-color: #d5c7c7;
  display: flex;

}

.title {
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  label {
    margin: vars.$margin;
  }

  input {
    padding: 0.2rem;
    margin: vars.$margin;
  }
}