@use "./modules/vars";

* {
    @extend .reset;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.3rem;
}

.container {
    width: 100rem;
    display: flex;
}

.sidebar {
    display: block;
    min-height: 100vh;
    color: white;
    background-color: #313030;
    width: 20rem;
    padding: vars.$padding;

    h1, h2 {
        margin: 2.2rem;
    }


    #subtitle{
        margin-top: 8rem;
    }

    .posts {
        color: darkgray;
    }
}

.article {
    //display: flex;
    //flex-wrap: wrap;
    //justify-content: center;
    //flex-direction: column;
    background-color: #5b5353;
    width: 80rem;
}

#content-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 60vw;
    border: 3px double #c4b9b9;
    border-radius: 0.2rem;
    margin: 2.5rem;
    padding: vars.$padding;

    #edit-remove {
        display: flex;
        justify-content: space-around;
        margin: vars.$margin;
    }

    #delete, #edit {
        margin: vars.$margin;
        text-decoration: none;
        color: gray;
    }

}

