* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Source Code Pro", sans-serif;
    font-size: 1.3rem;
}

.container {
    width: 100rem;
    display: flex;
}

.sidebar {
    display: block;
    min-height: 100vh;
    color: white;
    background-color: #313030;
    width: 20rem;
    padding: 1rem;

    h1, h2 {
        margin: 2.2rem;
    }

    #subtitle{
        margin-top: 8rem;
    }

    .posts {
        color: darkgray;
    }
}

.article {
    background-color: #9b4444;
    width: 80rem;
}

