{% extends 'base.html.twig' %}
{% block title %} Ajouter un article {% endblock %}


{% block body %}
    {% block sidebar %}
        <div class="sidebar">
            <h1 id="title">Menu principal</h1>
            <div id="subtitle">
                <h2 class="posts">Posts</h2>
                <a href="/index.php?c=article&a=pageArticle"><h2>Publier</h2></a>
                <h2>Brouillons</h2>
                <h2>Planifiés</h2>
                <h2>Corbeille</h2>
                <h2 class="posts">Gérer</h2>
                <h2>Catégories</h2>
            </div>

        </div>

    {% endblock %}

    <form action="/index.php?c=article&a=add-article" method="post" enctype="multipart/form-data">

        <label for="title">Titre de l'article</label>
        <input type="text" name="title" id="title">


        <label class="editor" for="content">Contenu:</label>
        <textarea name="content" id="content"></textarea>


        <input id="btn-addArticle" type="submit" name="save" value="Enregistrer" class="btn btn-secondary">
    </form>


{% endblock %}

